################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea
/.vs
/bud_wizard/assets/white-widow.jpg
/bud_wizard/assets/strawberry-cough.jpg
/bud_wizard/assets/panama-red.jpg
/bud_wizard/assets/dark-angel.jpg
/bud_wizard/assets/cotton-candy.jpg
/bud_wizard/assets/black-widow.jpg
/bud_wizard/assets/afghan.jpg
bud_wizard/assets/nutrients.png
bud_wizard/assets/grow/img1.jpg
bud_wizard/assets/grow/img2.jpg
bud_wizard/assets/grow/img3.jpg
bud_wizard/assets/grow/img4.jpg
bud_wizard/assets/grow/img5.jpg
bud_wizard/assets/grow/img6.jpg
bud_wizard/assets/grow/img7.jpg
bud_wizard/assets/grow/img8.jpg
bud_wizard/assets/grow/img9.jpg
bud_wizard/assets/grow/img10.jpg
bud_wizard/assets/grow/img11.jpg
bud_wizard/assets/grow/img12.jpg
