################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea
/.vs
/bud_wizard/assets/white-widow.jpg
/bud_wizard/assets/strawberry-cough.jpg
/bud_wizard/assets/panama-red.jpg
/bud_wizard/assets/dark-angel.jpg
/bud_wizard/assets/cotton-candy.jpg
/bud_wizard/assets/black-widow.jpg
/bud_wizard/assets/afghan.jpg
